# Dépendances
node_modules/
db.ini
scriptdb.sql
certificate/
# à décommenter après la phase de test  tests/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env
.cert
.key
# à décommenter après la phase de test  .test.js