<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chambres Hôtel California</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="/semantic-ui/semantic.min.css">

    <!-- CSS CUSTOM (IMPORTANT) -->
    <link rel="stylesheet" href="/stylenuit.css">
</head>

<body>
    <div class="stars"></div>
    <div class="moon"></div>
    <div class="hero-section">
    <div class="palm-left">🌴</div>
    <div class="palm-right">🌴</div>
        
        <div class="hero-content">
            <div>
                <a href="/" class="hotel-title-link">
                    <h1 class="hotel-name" >Hôtel California</h1></div>
                </a>
            <p class="hotel-tagline">Gestion des chambres</p>
            <div class="table-wrapper">    
                <table class="chambres-table">
                    <thead>
                        <tr>
                            <th>N° Chambre</th>
                            <th>Capacité</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% chambres.forEach(chambre => { %>
                            <tr>
                                <td><%= chambre.numero %></td>
                                <td><%= chambre.capacite %> personnes</td>
                                <td>
                                    <a style=""
                                    href="/chambres/edit/<%= chambre.id %>" class="btn-action btn-edit">
                                        Modifier
                                    </a>
                                </td>
                                <td>
                                    <a style="" href="/chambres/delete/<%= chambre.id %>" class="btn-action btn-delete">
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div> 
            <div class="action-buttons" style="margin-top: 2rem;">
                <a href="/chambres/create" class="action-card">
                    <i class="plus circle icon"></i>
                    <h3>Ajouter une chambre</h3>
                </a>
            </div>

        </div>
    </div>

</body>
</html>
